/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(to right, #e10600, #8b0000);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    color: white;
}

/* Navigation */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}

/* Main Content */
main {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

/* Image */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

/* Lists */
ul, ol {
    margin: 15px 0 15px 30px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #222;
}

table th {
    background-color: #e10600;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
}


fieldset {
    border: 2px solid #e10600;
    padding: 20px;
    border-radius: 8px;
}

legend {
    color: #e10600;
    font-weight: bold;
}

input, textarea {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #e10600;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff1e1e;
}

/* Footer */
footer {
    background-color: #000;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 2px solid #e10600;
}

/* DARK MODE */

body.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.dark-mode .navbar {
    background-color: #000000 !important;
}

.dark-mode .card {
    background-color: #1e1e1e !important;
    color: #ffffff;
}

.dark-mode .table {
    color: #ffffff;
}

.dark-mode .form-control,
.dark-mode .form-select {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #444;
}

.dark-mode footer {
    background-color: #000 !important;
}